body{
    background-color: beige;
}

.row{
    display: flex;
    flex-direction: column;
}
.column{
    display: flex;
    flex-direction: column;  
    
}
.input-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-shrink: 5;
    
}
.row:last-of-type{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.column:last-of-type{
    margin-top:10px;
    margin-left:30px;
    margin-bottom:20px;
    display:flex;
    flex-direction: column;
}
#submit{
    background-color: grey;
    color:white;
    padding: 11px;
}
.input-group input{
    flex-grow: 1;
    margin-left: 3%;
}
.input-group select{
    flex-grow: 1;
    margin-left: 3%;
}
.taxi{
    border: none;
    display: flex;
    flex-direction: column;
}
.extras{
    border: none;
    display: flex;
    flex-direction: column;
}

    


@media (min-width:568px){
    .row{
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
    }
    .row:last-of-type{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    } 
    
}